.navbar {
  background-color: #5B5B5B !important;
}

.navbar-dark .navbar-nav .nav-link {
  margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link.active {
  background-color: white;
  color: #5B5B5B;
  padding: 8px 12px;
  border-radius: 4px;
}

body {
  background-image: url("img/store.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
    
    .rights {
      background-color: #5B5B5B;
      color: white;
      padding-top: 100px;
      margin-bottom: 0;
    }

    .white-button {
      color: white;
    }

    .white-button,
.white-button:hover {
  color: white;
}